<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo List</title>
</head>

<body>
    <main>

        <h2>Are you sure you want to delete this list?</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
</body>
</main>

</html>