<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todos_list.name }}</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todos_list.name }}</h1>
            <a href='{% url "todo_list_update" todos_list.id %}'>Edit</a>
            <a href='{% url "todo_list_delete" todos_list.id %}'>Delete</a>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Tasks</th>
                    <th>Due Date</th>
                </tr>
                {% for todos_list in todos_list.items.all %}
                <tr>
                    <td>
                        <a href=''>{{ todos_list.task }}</a>
                    </td>
                    <td>{{ todos_list.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

</body>

</html>