<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <a href='{% url "todo_list_create" %}'>Create a new one</a>
            <a href="{% url 'todo_item_create' %}">Create New Todo Item</a>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                {% for todo in todo_list_list %}
                <tr>
                    <td>
                        <a href='{% url "todo_list_detail" todo.id %}'>{{ todo.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>